@font-face {
  font-family: "Roboto-flex";
  src: url("../../../assets/fonts/RobotoFlex-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-light";
  src: url("../../../assets/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

button {
  cursor: pointer;
}

.chat-container {
  width: 90%;
  height: 70vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: 18px;
  box-shadow: 0px 3.5031802654266357px 14.012721061706543px 2.627385139465332px
    rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(39.603179931640625px);
  background: linear-gradient(
      0deg,
      rgba(6, 0, 0, 0.02) 0%,
      rgba(6, 0, 0, 0.02) 100%
    ),
    rgba(103, 133, 193, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.25);
  margin: 20px;
  z-index: 9999;
  font-size: 1.5vw;

  @media (min-width: 768px) {
    width: 55vh;
    height: 80vh;
    top: 44vh;
    left: 45vh;
  }

  @media (max-width: 767px) {
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: 30.153px;
    background: rgba(103, 133, 193, 0.2);
    box-shadow: 0px 4.467080593109131px 17.868322372436523px
      3.3503103256225586px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(0.5px);
    border: 2px solid white;
    margin: 0;
    width: 90%;
    height: 80vh;
  }
}

.blur-mobile {
  @media (max-width: 767px) {
    width: 90%;
    height: 70vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: 30.153px;
    box-shadow: 0px 3.5031802654266357px 14.012721061706543px
      2.627385139465332px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(39.603179931640625px);
    background: linear-gradient(
        0deg,
        rgba(6, 0, 0, 0.02) 0%,
        rgba(6, 0, 0, 0.02) 100%
      ),
      rgba(103, 133, 193, 0.5);
    border: 2px solid white;
    margin: 0;
    width: 90%;
    height: 80vh;
  }
}

a {
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

.message-list {
  height: calc(100% - 150px);
  overflow-y: auto;
  padding: 10px;
  overflow-wrap: break-word;
  font-size: inherit;
  margin-bottom: 0;

  &::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
}

.legal-container {
  display: flex;
  flex-direction: column;
  font-family: "Roboto-flex", sans-serif;
  font-size: 16px;
  color: white;
  padding: 36px;
  overflow: hidden;

  h1 {
    position: relative;
    align-self: flex-start;
    color: #fff;
    font-family: "Roboto-light", sans-serif;
    font-size: 8vh;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    margin-top: 2%;
    margin-bottom: 0;

    @media (max-width: 767px) {
      font-size: 40px;
      left: 0px;
    }
  }

  img {
    width: 100%;
  }
}

.legal-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heart-header {
  display: flex;
  position: relative;
  align-self: flex-start;
  font-size: 2vh;
  img {
    margin-right: 8px;
    margin-left: 8px;
    width: 2vh;
    @media (max-width: 767px) {
      margin-right: 3px;
      margin-left: 3px;
    }
  }
}

.legal-text {
  position: relative;
  top: 10%;
  overflow-y: auto;
  flex-grow: 1;
  margin-bottom: 0;
  padding-right: 16px;
  text-align: start;
  @media (max-width: 767px) {
    margin-top: 0;
    top: 0;
  }
  p {
    margin-top:0;
  }

  &::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
}

.legal-checkbox-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  color: white;
  font-family: "Roboto-flex", sans-serif;
  margin-top: 10px;
}

.legal-checkbox-container input[type="checkbox"] {
  margin-right: 10px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50%;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &:checked::before {
    opacity: 1;
  }
}

.legal-checkbox-container label {
  margin: 0;
}

.accept-button-container {
  position: relative;
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  .button-label {
    font-family: "Roboto-flex", sans-serif;
    font-size: 1vh;
    color: white;
    display: flex;
    img {
      margin-left: 4px;
    }
  }
}

.accept-button {
  position: relative;
  width: 50vh;
  height: 5vh;
  left: 5%;
  bottom: 0%;
  color: white;
  font-family: "Roboto-flex", sans-serif;
  font-size: 2vh;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.17);
  box-shadow: 0px 2.3394713401794434px 5.760850429534912px 1.0474271774291992px
    rgba(0, 0, 0, 0.11);
    @media(max-width: 767px) {
      width: 33vh;
    }

  &[disabled] {
    opacity: 0.5;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
    cursor: not-allowed;
  }
  border: 1px solid white;
  outline: none;
}

.modal-button {
  position: relative;
  width: 45vh;
  height: 7vh;
  left: 0vh;
  top: 60%;
  @media(max-width: 767px) {
    width: 30vh;
    top: 0;
  }
}

.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 8px;
  font-family: "Roboto-flex", sans-serif;
  font-size: 16px;
  color: white;
  max-width: 66%;
  margin-bottom: 8px;
  padding: 15px 15px 15px 30px;
  box-shadow: 0px 4.467080593109131px 11px 2px rgba(0, 0, 0, 0.11);
  border: 1px solid rgba(255, 255, 255, 0.25);

  &.message-incoming:first-of-type {
    margin-top: 24px;
  }

  &.message-incoming {
    margin-left: 24px;
    border-radius: 0px 16.458px 16.458px 16.458px;
    background: rgba(103, 133, 193, 0.4);
    backdrop-filter: blur(4px) !important;
    align-self: flex-start;
  }

  &.message-outgoing {
    margin-right: 24px;
    border-radius: 16.458px 0px 16.458px 16.458px;
    background: rgba(255, 255, 255, 0.2);
    align-self: flex-end;
    margin-left: auto;
  }

  &-avatar {
    display: flex;
    margin-right: 10px;
  }

  .message-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .message-text {
    color: white;
    font-family: "Roboto-flex", sans-serif;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;

    &.outgoing {
      align-self: flex-end;
    }
  }
}

.input-container {
  display: flex;
  width: 100%;
  padding: 15px 0px 15px 24px;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 34px;
  position: absolute;
  bottom: 5%;
  @media (max-width: 768px) {
    width: 80%;
  }
}

input[type="text"] {
  width: 65%;
  padding: 15px 0px 15px 30px;
  border-radius: 30.653px;
  color: white;
  border: 0.5px solid #fff;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 4.467080593109131px 11px 2px rgba(0, 0, 0, 0.11);
  outline: none;
}


.chat-button {
  display: inline;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid white;
  border-radius: 50%;
  @media (max-width: 768px) {
    width: 45px;
    height: 45px;
  }
  img {
    top: 7px;
    left: 6px;
    width: 35px;
    height: 35px;
    @media (max-width: 768px) {
      top: 4px;
      left: 4px;
    }
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.icon-send {
  font-size: 16px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    width: 70vw;
    height: 70vh;
    overflow: auto;
    backdrop-filter: blur(39.603179931640625px);
    background: linear-gradient(
        0deg,
        rgba(6, 0, 0, 0.02) 0%,
        rgba(6, 0, 0, 0.02) 100%
      ),
      rgba(103, 133, 193, 0.5);
    padding: 20px;
    border: 2px solid white;
    border-radius: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-family: "Roboto-flex", sans-serif;
    line-height: normal;
    font-size: 16px;
    color: white;

    .close-button {
      position: relative;
      left: 100%;
      top: 10px;
      right: 10px;
      font-size: 20px;
      color: #aaa;
      text-decoration: none;
    }

    .modal-content {
      margin-top: 30px;
      margin-right: 16px;
      margin-left: 16px;

      h2 {
        font-size: 24px;
        margin-bottom: 10px;
      }

      p {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 20px;
      }
    }

    &::-webkit-scrollbar {
      width: 6px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #797979;
      border-radius: 6px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #555;
    }
  }

  .welcome-modal {
    width: 50vh;
    @media(max-width: 767px) {
      width: 35vh;
    }
  }
}
